   /* 1 блок - Header с навигацией */

    /* 2 блок - Авиатренажёры Boeing 737... */

    /* 3 блок - Что такое авиатренажёр? */

    /* 4 блок - Куда можно лететь? */
    @font-face {
        font-family: 'Gilroy-Medium';
        src: url('fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
        src: url('fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
            url('fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
            url('fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
            url('fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
            url('fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
        font-family: 'Liquid Crystal Display';
        src: url('fonts/liquid_crystal_display.eot'); /* IE 9 Compatibility Mode */
        src: url('fonts/liquid_crystal_display.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
            url('fonts/liquid_crystal_display.woff2') format('woff2'), /* Super Modern Browsers */
            url('fonts/liquid_crystal_display.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
            url('fonts/liquid_crystal_display.ttf') format('truetype'), /* Safari, Android, iOS */
            url('fonts/liquid_crystal_display.svg#liquid_crystal_display') format('svg'); /* Chrome < 4, Legacy iOS */
    }
    @import url(https://allfont.net/allfont.css?fonts=liquid-crystal-display);
.block2-4{
    display: grid;
    grid-template-areas: "block3 block3"
                         "block4__caption block4__caption"
                         "kartalet1 kartalet2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto auto;
    border: 1px solid rgb(186, 48, 48);
    background: url(img/linii.svg);
    width: 100vw;
}
.block3 {    
    grid-area:block3;
    justify-self: center;
    width:66%;
    border: 1px solid rgb(94, 186, 48);}

    .block3__img{width: 100%;}
.title {
        font-family: Acrom , Sans-Serif;
        margin: 0%;
        font-style: normal;
        font-weight: 700;
        font-size: 4em;
         line-height: 1.2;
        text-transform: uppercase;
        color: #03008D;}
.block4__caption{
    grid-area:block4__caption;
    justify-self: start;
    width: 66%;
}
.number {   
    grid-area:data;
    justify-self: start;
     padding:2em;
    font-family: 'Liquid Crystal Display', arial;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 37px;
    margin: 0%;
    color: #03008D;
}
.kartalet1 
{   grid-area:kartalet1;
    justify-self: end;
    padding-right: 34.5pt;
    width: 70%;
    height: auto;
    border:1px solid black;
    margin: 0%;
    
}
.kartalet2{
    grid-area:kartalet2;
    justify-self:start;
    padding-left: 34.5pt;
    width: 70%;
    height: auto;
    border:1px solid black;
    margin: 0%;
    
}
.kartalet__header-block{
    border-radius: 1.875em 1.875em 0px 0px;
    background:#6777FF;
    width: 100%;
    margin: 0%;
    }
.kartalet__header{
    margin: 0%;
    padding-left: 29.25pt;
    padding-top:21pt;
    padding-bottom: 20.25pt;
    font-family: 'Acrom', Sans-Serif;
font-style: normal;
font-weight: 700;
font-size: 36pt;
line-height: 1.2;
text-transform: uppercase;
color: #FFFFFF;
 }
.kartalet__text {font-family: 'Gilroy-Medium', Sans-Serif;
font-style: normal;
font-weight: 500;
font-size:1.5em;
line-height: 1.2;
margin:0%;
color: #000000;
padding-top: 35.25pt;
padding-bottom: 15.75pt;
}
.kartalet__img{
    width: 100%;
}
.kartalet__button
{font-family: 'Gilroy-Medium', Sans-Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
     color: #FFFFFF;
     background: #6777FF;
     border-radius: 100px;
     padding: 6.75pt 27.75pt 6.75pt 27.75pt;
     text-decoration: none;
    }
    /*@media (min-width: 1366px) and (max-width: 1120px) {
        
        }*/

    /* 5 блок - Сертификат на полёт */

    /* 6 блок - Чем отличается Boeing от Airbus? */
    
    /* 7 блок - Отзывы наших гостей */

    /* 8 блок - Наши инструктора */

    /* 9 блок - Контакты и футер */
