    /* .root {
        display: grid;
        grid-template-rows: repeat(7, fit-content);
        
        font-family: 'Acrom', Arial, sans-serif;
        font-family: 'Gilroy', Arial, sans-serif;
        font-family: 'LCD Display Grid', sans-serif;
    } */

    /* 1 блок - Header с навигацией */

        /* Навигация */

        .header__navigation {
            background-color: #6777FF;
            color: white;
            font-family: 'Gilroy', Arial, sans-serif;
        }

        .navigation__choice {
            color: white;
            text-decoration: none;
        }
    
    @media (min-width: 1440px) {
        .header__navigation {
            padding: 2em 9em;
        }
        
        .header__navigation-with-paddings {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 1.5vh;
        }
    
        .header__address {
            text-align: right;
        }
    
        .header__phone {
            font-weight: bold;
        }
        
        .header__address {
            padding-bottom: 30px;
        }
    
        .navigation {
            display: none;
        }
    }
    
    @media (min-width: 1120px) and (max-width: 1440px) {
        .header__navigation {
            padding: 1.7em 7em;
        }
        
        .header__navigation-with-paddings {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 1.5vh;
        }
    
        .header__address {
            text-align: right;
        }
    
        .header__phone {
            font-weight: bold;
        }
        
        .header__address {
            padding-bottom: 30px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 1120px) {
        .header__navigation {
            font-size: 1.9vh;
            padding: 1.5em 2em;
        }
        
        .header__navigation-with-paddings {
            display: grid;
            grid-template-columns: repeat(7, fit-content);
            grid-template-rows: 2fr 1fr;
        }
    
        .header__logo {
            grid-row: 1 / 3;
            padding-top: 2em;
        }
    
        .header__address {
            text-align: right;
            grid-row: 1 / 2;
            grid-column: 2 / 8;
            padding-right: 110px;
        }
    
        .header__phone {
            font-weight: bold;
        }
    }
    
    @media (min-width: 320px) and (max-width: 767px) {
        .header__navigation {
            height: 30vh;
        }
    
        .header__logo {
            margin-left: 50px;
            margin-top: 4em;
            height: 10vh;
        }
    
        .navigation__choice,
        .header__address {
            display: none;
        }
    }
    
    /* Основная часть */

    .mobile-header__title {
        display: none;
    }
    
    .header__title-first-word,
    .header__title-fourth-word,
    .mobile-header__first-word,
    .mobile-header__fourth-word {
        color: #6777FF;
        font-size: larger;
    }

    .gift-certificate__subtitle {
        font-family: 'Acrom', Arial, sans-serif;
    }

    .gift-certificate__price,
    .gift-certificate__time {
        font-family: 'Gilroy', Arial, sans-serif;
    }

    .header__title,
    .mobile-header__title {
        font-family: 'Gilroy', Arial, sans-serif;
    }

    .header-mobile__picture {
        display: none;
    }
    
    @media (min-width: 1440px) {
        .header__body {
            padding-left: 9em;
            position: relative;
            z-index: 2;
    
            margin-bottom: 5em;
        }
        
        .header__title {
            width: 50%;
            height: 50%;
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .header__title-first-word {
            font-size: 160px;
            font-weight: 900;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-second-word {
            font-size: 36px;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-third-word {
            font-size: 64px;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-fourth-word {
            font-size: 70px;
            font-weight: 800;
        
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .header__gift-certificate {
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            width: 40vw;
            border-radius: 30px;
            margin-top: 1.5em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
        }
        
        .gift-certificate__subtitle {
            width: 100%;
            text-align: center;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 700;
            font-size: 1.5em;
        }
        
        .gift-certificate__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .gift-certificate__price {
            color: #03008D;;
            padding-left: 3em;
        }
        
        .gift-certificate__time {
            padding-right: 3em;
        }
        
        .gift-certificate__price,
        .gift-certificate__time {
            font-weight: 800;
            font-size: 2em;
        }
        
        .gift-certificate__row-with-border {
            border-bottom: 1px solid black;
        }
    
        .header__picture {
            position: absolute;
            right: -5px;
            top: -70px;
            /* width: 60%; */
            height: 100%;
            z-index: 0;
        }

        .header-mobile__title {
            display: none;
        }
    }
    
    @media (min-width: 1120px) and (max-width: 1439px) {
        .header__body {
            padding-left: 6em;
            position: relative;
            z-index: 2;
    
            margin-bottom: 3em;
        }
        
        .header__title {
            width: 50%;
            height: 50%;
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            position: relative;
            z-index: 2;
        }
        
        .header__title-first-word {
            font-size: 160px;
            font-weight: 900;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-second-word {
            font-size: 36px;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-third-word {
            font-size: 64px;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-fourth-word {
            font-size: 70px;
            font-size: 800;
        
            margin-top: 0;
            margin-bottom: 0;
        }
    
    
        .header__gift-certificate {
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            width: 50vw;
            border-radius: 30px;
            margin-top: 1.5em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
        }
        
        .gift-certificate__subtitle {
            width: 100%;
            text-align: center;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 700;
            font-size: 1.5em;
        }
        
        .gift-certificate__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .gift-certificate__price {
            color: #03008D;;
            padding-left: 2em;
        }
        
        .gift-certificate__time {
            padding-right: 2em;
        }
        
        .gift-certificate__price,
        .gift-certificate__time {
            font-weight: 800;
            font-size: 2em;
        }
        
        .gift-certificate__row-with-border {
            border-bottom: 1px solid black;
        }
    
    
        .header__picture {
            position: absolute;
            right: 0;
            top: 2em;
            /* width: 60%; */
            height: 100%;
            z-index: 0;
        }

        .header-mobile__title {
            display: none;
        }
    }
    
    @media (min-width: 768px) and (max-width: 1120px) {
        .header__body {
            position: relative;
            z-index: 2;
    
            margin-bottom: 3em;
        }
        
        .header__title {
            width: 100%;
            height: 80%;
            padding-left: 2em;
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            position: relative;
            z-index: 2;
        }
        
        .header__title-first-word {
            font-size: 9.625em;
            font-weight: 900;
        
            margin-top: 40px;
            margin-bottom: 0;
        }
        
        .header__title-second-word {
            font-size: 2.25em;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-third-word {
            font-size: 4em;
        
            margin-top: 0;
            margin-bottom: 0;
        }
        
        .header__title-fourth-word {
            font-size: 4.375em;
            font-size: 800;
        
            margin-top: 0;
            margin-bottom: 0;
        }
    
    
        .header__gift-certificate {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 2fr;
            justify-items: center;
            align-items: center;
        
            width: 100%;
            padding-left: 0;
            border-radius: 30px;
            margin-top: 4em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
    
            justify-items: center;
            align-items: center;
        }
    
        .gift-certificate__subtitle {
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 30px;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 700;
            font-size: 1.7em;
    
            grid-column: 1 / 4;
        }
    
        .gift-certificate__row {
            display: flex;
            flex-direction: column;
        }
    
        .gift-certificate__price {
            color: #03008D;;
        }
    
        .gift-certificate__price,
        .gift-certificate__time {
            font-weight: 700;
            font-size: 2em;
        }
    
        .gift-certificate__row-with-border {
            border-right: 1px solid black;
            padding-right: 40%;
        }
        
        .header__picture {
            position: absolute;
            right: 0;
            top: -2em;
            width: 60%;
            z-index: 0;
        }

        .header-mobile__title {
            display: none;
        }
    }
    
    @media (max-width: 767px) {
    
        .header__body {
            position: relative;
            z-index: 2;
    
            margin-bottom: 3em;
        }

        .header__title {
            display: none;
        }
    
        .header__picture {
            display: none;
        }

        .header-mobile__picture {
            display: block;
            width: 100%;
            margin-top: -4em;
        }

        .mobile-header__title {
            display: grid;
            grid-template-columns: 1fr 2fr;

            max-width: 100%;
        }

        .mobile-header__first-column {
            display: flex;
            flex-direction: column;
            width: 30%;
        }

        .mobile-header__second-column {
            display: flex;
            flex-direction: column;
            width: 70%;
        }

        .mobile-header__first-word {
            font-weight: 900;
            font-size: 20vw;
            margin: 0;
            margin-bottom: -20px;
        }

        .mobile-header__second-word {
            font-size: 5.3vw;
            margin: 0;
        }

        .mobile-header__third-word {
            font-size: 10vw;
            margin: 0;
            margin-top: 13px;
        }

        .mobile-header__fourth-word {
            font-weight: 800;
            font-size: 11vw;
            margin: 0;
        }

        .header__gift-certificate {
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            width: 100vw;
            border-radius: 30px;
            margin-top: 1.5em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
        }
        
        .gift-certificate__subtitle {
            width: 100%;
            text-align: center;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 700;
            font-size: 1.5em;
        }
        
        .gift-certificate__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .gift-certificate__price {
            color: #03008D;;
            padding-left: 3em;
        }
        
        .gift-certificate__time {
            padding-right: 3em;
        }
        
        .gift-certificate__price,
        .gift-certificate__time {
            font-weight: 800;
            font-size: 2em;
        }
        
        .gift-certificate__row-with-border {
            border-bottom: 1px solid black;
        }
    }

    /* 2 блок - Авиатренажёры Boeing 737...

    3 блок - Что такое авиатренажёр?

    4 блок - Куда можно лететь? */
    .block2-4 {
        display: grid;
        grid-template-areas: "block2 block2"
            "block3 block3"
            "block4__caption block4__caption"
            "kartalet1 kartalet2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        background: url(assets/images/img-block2/linii.svg);
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0px;
        padding: 0px;
    }

    .block2 {
        grid-area: block2;
        justify-self: center;
        width: 75%;
        text-align: center;
        font-family: 'Gilroy', Arial, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4.3125em;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        background: url(assets/images/img-block2/blok2__img.svg);
        background-repeat: no-repeat;
        background-position: center top 0px;
        background-size: 75%;
        padding-top: 35px;
        padding-bottom: 238px;
    }

    .block2__selection {
        color: #6777FF;
    }

    .block3 {
        grid-area: block3;
        width: 66%;
        padding-left: 238px;
    }

    .block3__img {
        width: 100%;
    }

    .title {
        font-family: 'Acrom', Arial, sans-serif;
        margin: 0%;
        font-style: normal;
        font-weight: 700;
        font-size: 4em;
        line-height: 1.2;
        text-transform: uppercase;
        color: #03008D;
        padding-bottom: 1em;
    }

    .block4__caption {
        grid-area: block4__caption;
        justify-self: start;
        width: 66%;
        padding-left: 238px;
        padding-bottom: 1em;
    }

    .block4__selection {
        color: #03008D;
    }

    
    .kartalet__link:hover{
        color: #03008D;
    }
    .kartalet__link {
        text-decoration: none;
        justify-self: start;
        font-family: 'LCD Display Grid', arial;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.2;
        margin: 0%;
        color: #6777FF;
        ;
        padding-top: 3em;
        padding-bottom: 2em;
    }

    .kartalet1 {
        grid-area: kartalet1;
        justify-self: end;
        padding-right: 34.5pt;
        width: 70%;
        height: auto;
        margin: 0%;

    }

    .kartalet2 {
        grid-area: kartalet2;
        justify-self: start;
        padding-left: 34.5pt;
        width: 70%;
        height: auto;
        margin: 0%;
    }

    .kartalet__header-block {
        border-radius: 1.875em 1.875em 0px 0px;
        background: #6777FF;
        width: 100%;
        margin: 0%;
    }

    .kartalet__header {
        margin: 0%;
        padding-left: 29.25pt;
        padding-top: 21pt;
        padding-bottom: 20.25pt;
        font-family: 'Acrom', Arial, sans-serif;
        ;
        font-style: normal;
        font-weight: 700;
        font-size: 2.25em;
        line-height: 1.2;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .kartalet__text {
        font-family: 'Gilroy', Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1.2;
        margin: 0%;
        color: #000000;
        padding-top: 35.25pt;
        padding-bottom: 15.75pt;
    }

    .kartalet__img {
        width: 100%;
    }

    .kartalet__button {
        font-family: 'Gilroy', Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1.2;
        color: #FFFFFF;
        background: #6777FF;
        border-radius: 100px;
        padding: 6.75pt 27.75pt 6.75pt 27.75pt;
        text-decoration: none;
    }
    .kartalet__button:hover{
        background: #03008D;
    }

    @media (max-width:1366px) and (min-width:1120px) {
        .block2 {
            font-size: 3em;
            line-height: 1.2;
            padding-top: 5px;
            padding-bottom: 194px;
        }

        .block3 {
            width: 75%;
            padding-left: 123px;
        }

        .block3__img {
            width: 100%;
        }

        .title {
            font-size: 3em;
            line-height: 1.2;

        }

        .block4__caption {
            padding-left: 123px;
        }

        .kartalet__link {

            font-size: 2.25em;
            line-height: 1;

        }

        .kartalet1 {
            grid-area: kartalet1;
            justify-self: end;
            padding-right: 34.5pt;
            width: 70%;
            height: auto;
            margin: 0%;

        }

        .kartalet2 {
            grid-area: kartalet2;
            justify-self: start;
            padding-left: 34.5pt;
            width: 70%;
            height: auto;
            margin: 0%;

        }

        .kartalet__header {
            font-size: 2em;
            line-height: 1.2;
        }

        .kartalet__text {
            font-size: 2.25em;
            line-height: 1.2;
        }

        .kartalet__img {
            width: 100%;
        }

        .kartalet__button {
            font-size: 1.5em;
            line-height: 1.2;
        }
    }

    @media (max-width:1119px) and (min-width:768px) {
        .block2 {
            font-size: 2.1875em;
            line-height: 1.2;
            margin-top: 40px;
            padding-top: 30px;
            padding-bottom: 128px;
            width: 90%;
        }

        .block3 {
            width: 89%;
            padding-left: 38px;
        }

        .block3__img {
            width: 100%;
        }

        .title {
            font-size: 2.1875em;
            line-height: 1.2;

        }

        .block4__caption {
            padding-left: 22px;
        }

        .kartalet__link {

            font-size: 1em;
            line-height: 1;

        }

        .kartalet1 {
            grid-area: kartalet1;
            justify-self: end;
            padding-right: 13px;
            width: 90%;
            height: auto;
            margin: 0%;

        }

        .kartalet2 {
            grid-area: kartalet2;
            justify-self: start;
            padding-left: 13px;
            width: 90%;
            height: auto;
            margin: 0%;
            border: 0px;

        }

        .kartalet__header {
            font-size: 1.625em;
            line-height: 1.2;
        }

        .kartalet__text {
            font-size: 1.125em;
            line-height: 1.2;
        }

        .kartalet__button {
            font-size: 1.25em;
            line-height: 1.2;
        }
    }

    @media (max-width:767px) {
        .block2-4 {
            grid-template-areas: "block2 block2"
                "block3 block3"
                "block4__caption block4__caption"
                " kartalet1 kartalet1"
        }

        .kartalet2 {
            display: none;
        }

        .block2 {
            font-size: 1em;
            line-height: 1.2;
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 77px;
            width: 90%;
        }

        .block3 {
            width: 90%;
            padding-left: 19px;
        }

        .block3__img {
            width: 100%;
        }

        .title {
            font-size: 1.125em;
            line-height: 1.2;

        }

        .block4__caption {
            padding-left: 22px;
        }

        .kartalet__link{

            font-size: 1em;
            line-height: 1;

        }

        .kartalet1 {
            grid-area: kartalet1;
            justify-self: end;
            padding-left: 0;
            padding-right: 0;
            width: 90%;
            height: auto;
            margin: 0%;
        }

        .kartalet__header {
            font-size: 1.25em;
            line-height: 1.2;
        }

        .kartalet__text {
            font-size: 1em;
            line-height: 1.2;
        }

        .kartalet__img {
            width: 100%;
        }

        .kartalet__button {
            font-size: 1em;
            line-height: 1.2;
        }
    }



    /* 5 блок - Сертификат на полёт */

    .certificate-block__subtitle {
        font-family: 'Gilroy', Arial, sans-serif;
    }

    .ccertificate-block-2__gift-certificate {
        font-family: 'Acrom', Arial, sans-serif;
    }

    @media (min-width: 1440px){

        .certificate-block {
            background-image: url(assets/images/section-5/background-cloud.png);
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;
            height: 1276.17px;

            margin-top: 40px;
            margin-bottom: 30px;
        }

        .certificate-block__text {
            margin-left: 50%;
            padding-top: 20em;

            position: relative;
            z-index: 1;
        }

        .certificate-block__father-and-son {
            position: absolute;
            height: 75em;
            z-index: 2;
            left: 0em;
        }

        .certificate-block__subtitle {
            color: white;
            font-size: 2.1em;
            
            position: relative;
            z-index: 1;
        }

        .certificate-block-2__gift-certificate {
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            width: 40vw;
            border-radius: 30px;
            margin-top: 1.5em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
        }

        .gift-certificate-2__subtitle {
            width: 100%;
            text-align: center;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 700;
            font-size: 1.5em;
        }

        .gift-certificate-2__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .gift-certificate-2__price {
            color: #03008D;;
            padding-left: 3em;
        }
        
        .gift-certificate-2__time {
            padding-right: 3em;
        }
        
        .gift-certificate-2__price,
        .gift-certificate-2__time {
            font-weight: 800;
            font-size: 2em;
        }
        
        .gift-certificate-2__row-with-border {
            border-bottom: 1px solid black;
        }

        .certificate-block-mobile__father-and-son {
            display: none;
        }

    } 
    
    @media (min-width: 1120px) and (max-width: 1440px) {
        .certificate-block {
            background-image: url(assets/images/section-5/background-cloud.png);
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;
            height: 840px;

            margin-top: 40px;
            margin-bottom: 30px;
        }

        .certificate-block__text {
            margin-left: 50%;
            padding-top: 10em;

            position: relative;
            z-index: 1;
        }

        .certificate-block__father-and-son {
            position: absolute;
            height: 50em;
            z-index: 2;
            left: 3em;
        }

        .certificate-block__subtitle {
            color: white;
            font-size: 1.7em;
            
            position: relative;
            z-index: 1;
        }

        .certificate-block-2__gift-certificate {
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            width: 40vw;
            border-radius: 30px;
            margin-top: 1.5em;
            margin-right: 1em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
        }
        
        .gift-certificate-2__subtitle {
            width: 100%;
            text-align: center;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 700;
            font-size: 1.5em;
        }
        
        .gift-certificate-2__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .gift-certificate-2__price {
            color: #03008D;;
            padding-left: 2em;
        }
        
        .gift-certificate-2__time {
            padding-right: 2em;
        }
        
        .gift-certificate-2__price,
        .gift-certificate-2__time {
            font-weight: 800;
            font-size: 2em;
        }
        
        .gift-certificate-2__row-with-border {
            border-bottom: 1px solid black;
        }

        .certificate-block-mobile__father-and-son {
            display: none;
        }
    }
    
    @media (min-width: 768px) and (max-width: 1120px) {
        .certificate-block {
            background-image: url(assets/images/section-5/background-cloud.png);
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;
            height: 540px;

            margin-top: 40px;
            margin-bottom: 30px;
        }

        .certificate-block__text {
            margin-left: 40%;
            padding-top: 2em;

            position: relative;
            z-index: 1;
        }

        .certificate-block__father-and-son {
            position: absolute;
            height: 100%;
            z-index: 0;
            left: 2em;
        }

        .certificate-block__subtitle {
            color: #03008D;
            font-size: 1.2em;
            
            position: relative;
            z-index: 1;
        }

        .certificate-block-2__gift-certificate {
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            width: 50vw;
            border-radius: 30px;
            margin-top: 1em;
            margin-right: 1em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
        }
        
        .gift-certificate-2__subtitle {
            width: 100%;
            text-align: center;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 600;
            font-size: 1.5em;
        }
        
        .gift-certificate-2__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .gift-certificate-2__price {
            color: #03008D;;
            padding-left: 1em;
        }
        
        .gift-certificate-2__time {
            padding-right: 1em;
        }
        
        .gift-certificate-2__price,
        .gift-certificate-2__time {
            font-weight: 700;
            font-size: 2em;
        }
        
        .gift-certificate-2__row-with-border {
            border-bottom: 1px solid black;
        }

        .certificate-block-mobile__father-and-son {
            display: none;
        }
    }

    @media (max-width: 768px) {

        .certificate-block {
            margin-left: 1em;
            margin-right: 1em;

            margin-top: 40px;
            margin-bottom: 30px;
        }

        .certificate-block__subtitle {
            color: #03008D;
            font-size: 2.7em;
            word-wrap: normal;
        }

        .certificate-block__text {
            position: relative;
            z-index: 1; 
        }

        .certificate-block {
            position: relative;
        }

        .certificate-block__father-and-son {
            display: none;
        }

        .certificate-block-mobile__father-and-son {
            background-image: url(assets/images/section-5/background-cloud.png);
            background-repeat: no-repeat;
            background-size: 100% 130%;

            width: 100%;
            margin-bottom: -20px;
        }

        .certificate-block-2__gift-certificate {
            display: grid;
            grid-template-rows: 0.5fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            width: 100%;
            border-radius: 30px;
            margin-top: 1em;
        
            background-color: #E5E5E5;
    
            position: relative;
            z-index: 2;
        }
        
        .gift-certificate-2__subtitle {
            width: 100%;
            text-align: center;
        
            background-color: #6777FF;
            color: white;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-weight: 700;
            font-size: 2em;
        }
        
        .gift-certificate-2__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .gift-certificate-2__price {
            color: #03008D;;
            padding-left: 1em;
        }
        
        .gift-certificate-2__time {
            padding-right: 1em;
        }
        
        .gift-certificate-2__price,
        .gift-certificate-2__time {
            font-weight: 700;
            font-size: 2em;
        }
        
        .gift-certificate-2__row-with-border {
            border-bottom: 1px solid black;
        }
    }

    .block-6 {
        display: grid;
        grid-template-areas:"block-6__text block-6__text"
                            "block-6__elem1 block-6__elem2"
                            "block-6__paragraph block-6__paragraph"
                            "switch__vectors switch__vectors";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 1fr 0.2fr;
        margin-top: 0.5em;
        background-image: url('assets/images/block7/a320-clipart-7\ \(1\).png'), url('assets/images/block7/lrg_737max8\ \(1\).png');
        background-repeat: no-repeat;
        background-position: left center, right center;
        background-size: 45.6em 58.75em, 42.5em 48.125em;
    }
    .block-6__text {
        grid-area: block-6__text;
        justify-self: center;
        margin: 0.5em;
        font-size: 4em;
        line-height: 76.8px;
    }
    .block-6__text__subtitle {
        font-family: 'Acrom', 'Sans-Serif';
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0.5em;
        color: #03008D;
    }
    .block-6__elem1 {
        grid-area: block-6__elem1;
        justify-self: center;
        align-self: end;
    }
    .block-6__elem2 {
        grid-area: block-6__elem2;
        justify-self: center;
        align-self: end;
        direction: rtl;
        float: left;
    }
    .block-6__elem {
        font-size: 1.5em;
        font-weight: 500;
        list-style-image: url("assets/images/block7/Rectangle\ 36\ \(1\).png");
    }
    .block-6__list {
        margin-bottom: 0.5em;
    }
    .block-6__paragraph {
        justify-self: center;
        width: 100vw;
        background: url(assets/images/block7/Frame\ \(1\).png);
        background-repeat: no-repeat;
        background-position:center top 0em;
        background-size: 90% 100%;
        grid-area: block-6__paragraph;
    }
    .block-6__paragraph__input {
        justify-self: center;
        font-style: normal;
        font-weight: 500;
        font-family: 'Gilroy', Arial, Sans-serif;
        font-size: 1.5em;
        text-align: justify;
        line-height: 29px;
        padding: 10pt;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    @media (max-width:1366px) and (min-width:1120px) {
        .block-6__text {
            margin: 0.5em;
            font-size: 3em;
            line-height: 58px;
        }
        .block-6 {
            background-size: 35.625em 46.825em, 34.375em 40.625em;
        }
    }
    @media (max-width:1119px) and (min-width:768px) {
        .block-6__text {
            margin: 0.5em;
            font-size: 2.25em;
            line-height: 43.2px;
        }
        .block-6 {
            background-size: 25.625em 34.825em, 23.25em 29em;
        }
        .block-6__elem {
            font-size: 1.25em;
    }
    .block-6__paragraph__input {
        font-size: 1.125em;
    }
}
    @media (max-width:767px) {
        .block-6 {
            display: grid;
            grid-template-areas:"block-6__text"
                                "block-6__elem1"
                                "block-6__paragraph"
                                "switch__vectors";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 4fr 1fr 0.2fr;
        }
        .block-6__text {
            margin: 0.5em;
            font-size: 1.125em;
            line-height: 21.6px;
        }
        .block-6 {
            background-size: 15.625em 22.825em, 15.25em 18em;
        }
        .block-6__elem {
            font-size: 1em;
    }
    .block-6__paragraph__input {
        font-size: 0.875em;
    }
    }.block-6 {
        display: grid;
        grid-template-areas:"block-6__text block-6__text"
                            "block-6__elem1 block-6__elem2"
                            "block-6__paragraph block-6__paragraph"
                            "switch__vectors switch__vectors";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 1fr 0.2fr;
        margin-top: 0.5em;
        background-image: url('assets/images/block7/a320-clipart-7\ \(1\).png'), url('assets/images/block7/lrg_737max8\ \(1\).png');
        background-repeat: no-repeat;
        background-position: left center, right center;
        background-size: 45.6em 58.75em, 42.5em 48.125em;
    }
    .block-6__text {
        grid-area: block-6__text;
        justify-self: center;
        margin: 0.5em;
        font-size: 4em;
        line-height: 76.8px;
    }
    .block-6__text__subtitle {
        font-family: 'Acrom', 'Sans-Serif';
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0.5em;
        color: #03008D;
    }
    .block-6__elem1 {
        grid-area: block-6__elem1;
        justify-self: center;
        align-self: end;
    }
    .block-6__elem2 {
        grid-area: block-6__elem2;
        justify-self: center;
        align-self: end;
        direction: rtl;
        float: left;
    }
    .block-6__elem {
        font-size: 1.5em;
        font-weight: 500;
        list-style-image: url("assets/images/block7/Rectangle\ 36\ \(1\).png");
    }
    .block-6__list {
        margin-bottom: 0.5em;
    }
    .block-6__paragraph {
        justify-self: center;
        width: 100vw;
        background: url(assets/images/block7/Frame\ \(1\).png);
        background-repeat: no-repeat;
        background-position:center top 0em;
        background-size: 90% 100%;
        grid-area: block-6__paragraph;
    }
    .block-6__paragraph__input {
        justify-self: center;
        font-style: normal;
        font-weight: 500;
        font-family: 'Gilroy', Arial, Sans-serif;
        font-size: 1.5em;
        text-align: justify;
        line-height: 29px;
        padding: 10pt;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    @media (max-width:1366px) and (min-width:1120px) {
        .block-6__text {
            margin: 0.5em;
            font-size: 3em;
            line-height: 58px;
        }
        .block-6 {
            background-size: 35.625em 46.825em, 34.375em 40.625em;
        }
    }
    @media (max-width:1119px) and (min-width:768px) {
        .block-6__text {
            margin: 0.5em;
            font-size: 2.25em;
            line-height: 43.2px;
        }
        .block-6 {
            background-size: 25.625em 34.825em, 23.25em 29em;
        }
        .block-6__elem {
            font-size: 1.25em;
    }
    .block-6__paragraph__input {
        font-size: 1.125em;
    }
}
    @media (max-width:767px) {
        .block-6 {
            display: grid;
            grid-template-areas:"block-6__text"
                                "block-6__elem1"
                                "block-6__paragraph"
                                "switch__vectors";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 4fr 1fr 0.2fr;
        }
        .block-6__text {
            margin: 0.5em;
            font-size: 1.125em;
            line-height: 21.6px;
        }
        .block-6 {
            background-size: 15.625em 22.825em, 15.25em 18em;
        }
        .block-6__elem {
            font-size: 1em;
    }
    .block-6__paragraph__input {
        font-size: 0.875em;
    }
    }
    /* 7 блок - Отзывы наших гостей */
    .block7 {
        display: grid;
        grid-template-areas: "block-title block-title block-title"
            "card1 card2 card3"
            "numbers numbers numbers";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        column-gap: 1em;
        margin: 10%;
    }

    .block-title {
        grid-area: block-title;
        justify-self: start;
        padding-left: 0%;
        padding-bottom: 2%;
        margin: 0%;
        font-family: 'Acrom', 'Sans-Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 4em;
        line-height: 4.8em;
        text-transform: uppercase;
        color: #03008D;
    }

    .card__img {
        width: 95%;
        padding: 3%;
    }

    .card__text {
        width: 95%;
        text-align: justify;
        padding: 3%;
        margin: 0%;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1.8em;
    }

    .card1 {
        grid-area: card1;
        justify-self: end;
        height: auto;
        margin: 0%;
        border-radius: 1em;
        background-color: #E5E5E5;
    }

    .card2 {
        grid-area: card2;
        border-radius: 1em;
        justify-self: center;
        margin-left: 0%;
        height: auto;
        background-color: #E5E5E5;
    }

    .card3 {
        grid-area: card3;
        justify-self: end;
        height: auto;
        border-radius: 1em;
        background-color: #E5E5E5;
    }

    .numbers {
        grid-area: numbers;
        justify-self: start;
        padding-left: 0%;
        padding-top: 2%;
        font-family: 'LCD Display Grid', 'Sans-Serif';
        font-style: normal;
        font-weight: 400;
        font-size: 2.25em;
        line-height:2.3em;
        margin: 0%;

        display: flex;
        justify-content: space-between;
        width: 35%;
    }

    .numbers__number1{
        color:#03008D;
        text-decoration: none;
    }

    .numbers__number1:active{
        color:#03008D;
    }

    .numbers__number{
        color:#6777FF;
        text-decoration: none;
    }

    .numbers__number:hover{
        color:#03008D;
    }

    @media(max-width:1366px) and (min-width:1120px){

        .block-title {
            font-size: 3em;
            line-height: 3.6em;
        }

        .card__text {
            font-weight: 500;
            font-size: 1.25em;
            line-height: 1.5em;
            text-align:justify;
        }

        .numbers{
            font-weight: 400;
            font-size: 2.25em;
            line-height: 2.3em;
        }
    }
    
    @media (max-width:1119px) and (min-width:767px){
        .block7{
            display: grid;
            grid-template-areas: "block-title block-title"
                "card1 card2"
                "numbers numbers";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            column-gap: 1em;
            margin: 10%;
        }

        .block-title{
            grid-area: block-title;
            justify-self: start;
            padding-left: 0%;
            margin: 0%;
            font-weight: 700;
            font-size: 2.25em;
            line-height: 2.6em;
        }
    
        .card__text{
            font-size: 1.25em;
            font-weight: 500;
            line-height: 1.5em;
            padding: 3%;
            text-align:justify;
        }

        .card1 {
            grid-area: card1;
            justify-self: end;
            margin: 0%;
            border-radius: 1em;
        }

        .card2 {
            grid-area: card2;
            border-radius: 1em;
            justify-self: center;
            margin-left:0%;
        }

        .card3 {
            display: none;
        }

        .numbers {
            grid-area: numbers;
            justify-self: start;
            padding-left: 0%;
            font-weight: 400;
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0%;
            color: #03008D;
            width: 45%;
        }
    }
    
    @media (max-width:768px){
        .block7{
            display: grid;
            grid-template-areas: "block-title"
                "card1"
                "numbers";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            column-gap: 1em;
            margin:10%; 
        }

        .block-title {
            grid-area: block-title;
            justify-self: start;
            padding-left: 0%;
            margin: 0%;
            font-weight: 700;
            font-size: 2em;
            line-height: 1.3em;
        }

        .card__text{
            font-size: 1.5em;
            line-height: 1.2em;
            padding: 3%;
            text-align:justify;
        }

        .card1 {
            grid-area: card1;
            justify-self: end;
            margin: 0%;
            border-radius: 1em;
        }

        .card2,
        .card3 {
            display: none;
        }

        .numbers {
            grid-area: numbers;
            padding-left:0%;
            font-weight:400;
            font-size: 1.5em;
            line-height: 1.2em;
            margin: 0%;
            width: 100%;
        }
    }

         @media(max-width:545px){
            
        .block-title {
            font-size: 1.5em;
        }

        .card__text{
            font-size: 1.2em;
        }

        .numbers {
            font-size: 1.5em;
        }
    } 

    @media(max-width:412px){
            
        .block-title {
            font-size: 1.2em;
        }

        .card__text{
            font-size: 1em;
        }
        
        .numbers {
            font-size: 1.2em;
        }
    } 




    /* 8 блок - Наши инструктора */
    @font-face {
        font-family: 'Gilroy', Arial, sans-serif;;
        src: url();
    }
    
    .infobox__header {
        margin-left: 10%;
    
        font-family: 'Gilroy', Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 3.188em;
    
        color: #03008D;
    }
    
    .infobox__cards {
    display: flex;
    justify-content: space-around;
    }
    
    .infobox__cards__card {
    margin-right: 11px;
    margin-left: 11px;
    height: auto;
    width: 25%;
    
    background-color: #6777FF;
    
    border-radius: 15px;
    }
    
    .infobox__cards__card1 {
    margin-right: 11px;
    margin-left: 10%;
    height: auto;
    width: 25%;
    
    background-color: #6777FF;
    
    border-radius: 15px;
    }
    
    .infobox__cards__card4 {
    margin-right: 10%;
    margin-left: 11px;
    height: auto;
    width: 25%;
    
    background-color: #6777FF;
    
    border-radius: 15px;
    }
    
    .infobox__cards__card__img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    
    .infobox__cards__card__text_bold {
        margin: 0;
        padding-left: 24px;
        padding-top: 15px;
    
        font-family: 'Gilroy', Arial, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
    
        color: white;
    }
    
    .infobox__cards__card__text {
        margin: 0;
        padding-left: 24px;
        padding-bottom: 10px;
    
        font-family: 'Gilroy', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
    
        color: white;
    }
    
    .infobox__button {
        display: flex;
        justify-content: center;
    }
    
    .infobox__button__btn {
        width: 33%;
        height: auto;
        margin-top: 85px;
        padding-top: 10px;
        padding-bottom: 10px;
    
        font-family: 'Gilroy', Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 2em;
        
        color: white;
        background-color: #6777FF;
        
        border-radius: 15px;
        border: none;
    }
    
    @media (min-width:1120px) {
        .slider {
            display: none;
        }
    }
    
    @media (max-width:1119px) and (min-width:376px) {
    .infobox__cards__card4 {
        display: none;
    }
    
    .slider {
        margin-top: 90px;
        margin-left: 10%;
    }
    
    .arrow {
        color: #03008D;
    }
    }
    
    @media (max-width:375px) {
        .infobox__header {
            font-size: 1.125em;
            margin-left: 0;
        }
        .infobox__cards {
            display: flex;
            justify-content: space-around;
        }
    
        .infobox__cards__card1 {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
    
        .infobox__cards__card {
            display: none;
        }
    
        .infobox__cards__card4 {
            display: none;
        }
    
        .infobox__button__btn {
            width: 100%;
            height: auto;
    
            font-family: 'Gilroy', Arial, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1.5em;
        }
    }
    /* 9 блок - Контакты и футер */

    li {
        list-style-type: none;
    }

    .footer {
        min-width: 360px;
        max-width: 1925px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-top__contact {
        font-family: 'Acrom', Arial, sans-serif;
        font-weight: bold;
        font-size: 4em;
        line-height: 4.8125em;
        color: #03008D;
    }

    .footer-top__contact-position {
        padding-left: 237px;
    }

    .footer-top__background {
        background-color: #6777FF;
        border-radius: 40px 40px 0 0;
    }

    .footer-top__img {
        height: 100%;
        width: 100%;
        background-size: contain;
        padding-top: 55px;
        display: flex;
        align-items: flex-end;
    }

    .footer-middle__map {
        width: 100%;
        min-height: 628px;
        border: 0;
        display: flex;
        align-items: flex-end;
    }

    .footer-bottom {
        background-color: #6777FF;
        border-radius: 0 0 10px 10px;
        display: grid;
        grid-template-columns: 1fr minmax(270px, 700px) 2fr minmax(150px, 350px) 1fr;
        grid-template-rows: 2fr 3fr 3fr 3fr 1fr;
        grid-template-areas:
            ". . . . ."
            ". address . logo ."
            ". mail . subscribe ."
            ". telepfone . networks ."
            ". . . . .";
    }

    .item__text {
        font-family: 'Gilroy', Arial, sans-serif;
        font-size: 1.875em;
        line-height: 1.8em;
        color: #FFFFFF;
        margin: 0;
        text-decoration: none;
    }

    .address {
        grid-area: address;
    }

    .mail {
        grid-area: mail;
    }

    .telepfone {
        grid-area: telepfone;
    }

    .logo {
        grid-area: logo;
    }

    .subscribe {
        grid-area: subscribe;
    }

    .networks {
        grid-area: networks;
    }

    .item-social__inst {
        background-image: url(assets/images/footer/Instagram.png);
        min-width: 50px;
        min-height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        width: 58px;
        min-height: 57px;
        border: 3px solid white;
        border-radius: 16px;
    }

    .item-social__clic {
        display: block;
        height: 100%;
    }

    .item-social__facebook {
        background: url(assets/images/footer/f.png) no-repeat center center;
        min-width: 50px;
        min-height: auto;
        background-size: 50%;
        background-repeat: no-repeat;
        width: 58px;
        min-height: 57px;
        border: 3px solid white;
        border-radius: 16px;
    }

    .item-social__tiktok {
        background: url(assets/images/footer/TikTok.png) no-repeat center center;
        min-width: 50px;
        min-height: auto;
        background-size: 80%;
        background-repeat: no-repeat;
        width: 58px;
        min-height: 57px;
        border: 3px solid white;
        border-radius: 16px;
    }

    .item-social__vkontakte {
        background: url(assets/images/footer/VK.png) no-repeat center center;
        min-width: 50px;
        min-height: auto;
        background-size: 90%;
        background-repeat: no-repeat;
        width: 58px;
        min-height: 57px;
        border: 3px solid white;
        border-radius: 16px;
    }

    .item-social {
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
        margin: 0;
    }

    .subscribe,
    .logo {
        display: flex;
        justify-content: right;
    }

    .item {
        display: flex;
        align-items: center;
    }

    .telepfone__img,
    .mail__img {
        padding-right: 20px;
    }

    .address,
    .logo,
    .networks {
        margin-bottom: 15px;
    }

    .telepfone {
        display: flex;
        align-items: start;
        padding-top: 10px;
    }


    @media screen and (max-width: 1366px) {
        .footer {
            max-width: 1366px;
        }

        .footer-top__contact {
            font-size: 3em;
            line-height: 3.625em;
        }

        .footer-middle__map {
            min-height: 438px;
        }

        .footer-top__contact-position {
            padding-left: 123px;
        }
    }

    @media screen and (max-width: 1119px) {
        .footer {
            max-width: 1119px;
        }

        .footer-top__contact {
            font-size: 2.25em;
            line-height: 2.6875em;
        }

        .footer-bottom {
            padding: 2%;
        }

        .footer-middle__map {
            min-height: 351px;
        }

        .footer-top__contact-position {
            padding-left: 0;
        }
    }

    @media screen and (max-width: 767px) {
        .footer {
            max-width: 767px;
        }

        .footer-top__contact {
            font-weight: 600;
            font-size: 3.188em;
        }

        .footer-top__contact-position {
            padding-left: 0;
        }

        .footer-middle__map {
            min-height: 321px;
        }

        .footer-bottom {
            height: 1200px;
            padding: 30px;
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr) 2fr;
            grid-template-areas:
                "address"
                "mail "
                "telepfone"
                "subscribe "
                "networks"
                "logo";
        }

        .subscribe {
            display: flex;
            justify-content: left;
        }

        .logo {
            display: flex;
            justify-content: center;
            padding: 0px;

        }

        .item__text {
            font-size: 2.25em;
            line-height: 1.8em;
        }

        .item-social {
            justify-content: space-between;
            padding: 0 200px 0 0;
            margin: 0px;
        }

        .item__logo {
            width: 180px;
        }

        .item-social__inst,
        .item-social__facebook,
        .item-social__tiktok,
        .item-social__vkontakte {
            width: 78px;
            height: 77px;
        }

    }